body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f9f9f9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: #222;
  color: white;
  padding: 15px 30px;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.section {
  padding: 50px 20px;
  text-align: center;
}

.project-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.project-card {
  background: rgb(40, 35, 35);
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.skills-list {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.contact-form input, .contact-form textarea {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  max-width: 400px;
}

button {
  background: #222;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}
